{% extends "layout.html" %}
{% block head %}
    <style>
        /* Add a style for the active tab */
        .nav-item.active a {
            background-color: #007bff;
            color: #fff;
        }
        
    </style>
</head>
{% endblock %}
{% block body %}
    <div class="left-panel">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" onclick="loadOption('borrowed-items', this)">Borrowed Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" onclick="loadOption('completed-items', this)">Completed Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" onclick="loadOption('pending-items', this)">Pending Items <span class="text-warning">{{ unverified }}</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" onclick="loadOption('list-equipments', this)">List of Equipments  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" onclick="loadOption('violators', this)">Violators  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-bg-danger" href="javascript:void(0);" onclick="logout()">Log out</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div id="dynamic-content">
            Welcome Admin "{{ current_user.admin_firstname }}, {{ current_user.admin_surname }}"
        </div>
    </div>
    <script>
        function showStudentModal(student_number){
            axios.get(`/user/student/${student_number}`).then(response => {
                console.log(response);
                var studentModal = document.getElementById("studentModal");
                if (studentModal) {
                    studentModal.style.display = 'flex';
                    document.getElementById('studentNumberModal').textContent = "Student Number: " + response.data.student_number;
                    document.getElementById('studentSectionModal').textContent = "Student Section: "+ response.data.student_section;
                    document.getElementById('studentDepartmentModal').textContent = "Student Department: "+ response.data.student_department;
                    document.getElementById('studentYearModal').textContent = "Student Year: "+ response.data.student_year;
                    document.getElementById('studentFirstnameModal').textContent = "Student Firstname: "+ response.data.student_firstname;
                    document.getElementById('studentLastnameModal').textContent = "Student Lastname: "+ response.data.student_lastname;
                }
            }).catch(error => {
                console.log(error);
                alert(error.response);
            });
        }
        
        function showEquipmentModal(unique_key){
            axios.get(`/user/equipments/${unique_key}`).then(response => {
                console.log(response);
                var equipmentModal = document.getElementById("equipmentModal");
                if (equipmentModal) {
                    equipmentModal.style.display = 'flex';
                    document.getElementById('equipmentIdModal').textContent = "Equipment ID: " + response.data.equip_id;
                    document.getElementById('equipmentTypeModal').textContent = "Equipment Type: " + response.data.equip_type;
                    document.getElementById('equipmentUniqueKeyModal').textContent = "Equipment Unique Key: " + response.data.equip_unique_key;
                }
            }).catch(error => {
                alert(error.response);
            });
        }

        function loadOption(option, clickedElement) {
        // Remove the 'active' class from all tabs
            const tabs = document.querySelectorAll('.nav-item');
            tabs.forEach(tab => tab.classList.remove('active'));

            // Add the 'active' class to the clicked tab
            clickedElement.parentNode.classList.add('active');

            fetch(`/option/${option}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById("dynamic-content").innerHTML = data;
                })
                .catch(error => {
                    console.error(error);
                });
        }
        
        function editEquipment(equip_id){
            if (confirm("Do you want to continue editing this Equipment?")){
                const formData = {
                    "args_equip_id": equip_id,
                    "args_equip_name": document.getElementById('args_equip_type_edit').value
                }
                axios.put(`/edit-equipment/${equip_id}`, formData).then(response => {                   
                    alert("Item successfully updated");
                    window.location.href='/dashboard';
                }).catch(error => {
                    alert("Item unsuccessfully updated");
                    console.log(error);
                });
            }
        }

        function deleteEquipment(equip_id){
            axios.delete(`delete-equipment/${equip_id}`).then(response => {
                alert("Item successfully deleted");
                window.location.href='/dashboard';
            }).catch(error => {
                alert("Item unsuccessfully deleted");
                console.log(error);
            });
        }

        function manageItem(value, equip_id){
            if (value==="0"){
                document.getElementById('modalBackgroundEdit').style.display = 'flex';
                document.getElementById('equip_type_view').append(equip_id);
                document.getElementById('equipmentFormEdit').addEventListener('submit', function(event){
                    event.preventDefault();
                    editEquipment(equip_id)
                })

            } else if (value==="1"){
                if (confirm("Are you sure you want to delete this item?")){
                    deleteEquipment(equip_id);
                }
            } else {
                
            }

        }

        function openModal() {
            document.getElementById('modalBackground').style.display = 'flex';
        }

        function closeModal() {
            document.getElementById('modalBackground').style.display = 'none';
        }
        function closeModalEdit() {
            document.getElementById('modalBackgroundEdit').style.display = 'none';
        }
        function closeEquipmentModal() {
            document.getElementById('equipmentModal').style.display = 'none';
        }
        function closeStudentModal() {
            document.getElementById('studentModal').style.display = 'none';
        }

        function logout(){
            window.location.href='/';
        }

    </script>
{% endblock %}
