{% extends "tables.html" %}
{% block body %}
<style>
#manage-item {
        padding: 8px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    #manage-item option {
        background-color: #fff;
        color: #333;
    }
#modalBackgroundEdit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
}

/* Modal Content */
#itemFormEdit {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
}

/* Modal Content */
#itemForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

</style>
<div>
    <button class="btn btn-outline-success" id="addItemButton" onclick="openModal()">
        Add new item
    </button>
</div>
<div id="modalBackgroundEdit" style="display: none;">
    <div id="itemFormEdit">
        <form id="equipmentFormEdit" method="put" action="/edit-equipment/">
            <p class="text-dark font-italic" id="equip_type_view">Equipment ID: </p>
            <input type="text" id="args_equip_id_edit" name="args_equip_id_edit" hidden>
            <input type="text" id="args_equip_type_edit" name="args_equip_type_edit" placeholder="Basketball, Volleyball, etc..">
            <button type="submit" class="btn btn-outline-dark">Edit</button>
            <a href="#" onclick="closeModalEdit()">Exit</a>
        </form>
    </div>
</div>
<div id="modalBackground" style="display: none;">
    <div id="itemForm">
        <form id="equipmentForm" method="post" action="/save-equipment">
            <p class="text-dark font-italic">Equipment Type</p>
            <input type="text" id="args_equip_type" name="args_equip_type" placeholder="Basketball, Volleyball, etc..">
            <button type="submit" class="btn btn-outline-dark">Submit</button>
            <a href="#" onclick="closeModal()">Exit</a>
        </form>
    </div>
</div>
<div>
    <table>
        <thead>
            <th>Equipment ID</th>
            <th>Type</th>
            <th>Unique Key</th>
            <th>Availability</th>
            <th>Status</th>
            <th>Manage</th>
        </thead>
        <tbody>
            {% for i in range(equipments['equip_id']|length) %}
            <tr>
                <td>
                    {{ equipments['equip_id'][i] }}
                </td>
                <td>
                    {{ equipments['equip_type'][i] }}
                </td>
                <td>
                    {{ equipments['equip_unique_key'][i] }}
                </td>
                <td>
                    {{ equipments['is_available'][i] }}
                </td>
                <td>
                    {{ equipments['is_pending'][i] }}
                </td>
                <td>
                    <select name="manage-item" id="manage-item" onchange="manageItem(this.value, {{ equipments['equip_id'][i] }})">
                        <option disabled selected>Select Action</option>
                        <option value="0">Edit</option>
                        <option value="1">Delete</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    
</script>

{% endblock %}