{% extends "tables.html" %}
{% block body %}

<table>
    <thead>
        <tr>
            <th>Pending Id</th>
            <th>Equipment Type</th>
            <th>Equipment Unique Key</th>
            <th>Student Number</th>
            <th>Student Name</th>
            <th>Verify Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for index in range(pending['pending_id']|length) %}
        <tr>
            <td>{{ pending['pending_id'][index] }}</td>
            <td>{{ pending['equip_type'][index] }}</td>
            <td>{{ pending['equip_unique_key'][index] }}</td>
            <td>{{ pending['student_number'][index] }}</td>
            <td>{{ pending['student_name'][index] }}</td>
            <td>{{ pending['is_verified'][index] }}</td>
            <td>
                <a href="{{ url_for('admin.verify_item', unique=pending['equip_unique_key'][index]) }}">
                    <button class="btn btn-outline-success">Verify</button>
                </a>
                <a href="{{ url_for('admin.disproof_item', pending_id=pending['pending_id'][index]) }}">
                    <button class="btn btn-outline-danger">Disproof</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}